@!(model)
<!DOCTYPE html>
<html lang="en">
<head>
    @render('html_head', 'SIP Settings', model.url, model.port)
	<script type="text/javascript">
		$(document).ready(function () {
			$('[name="visibility"]').click(function () {
				$this = $(this);
				var postData = { sid: '@model.sid', 'visibility': $this.data('val'), 'widget-id': $this.data('widget-id') };
				$.post('/settings', postData, function (data) {
					$this.data('val', data.visible ? 0 : 1);
					if (data.visible) {
						$this.text('Hide');
					} else {
						$this.text('Show');
					}
				});
			});
			
			$('[name="enable"]').click(function () {
				$this = $(this);
				var postData = { sid: '@model.sid', 'enable': $this.data('val'), 'widget-id': $this.data('widget-id') };
				$.post('/settings', postData, function (data) {
					$this.data('val', data.enabled ? 0 : 1);
					if (data.enabled) {
						$this.text('Disable');
					} else {
						$this.text('Enable');
					}
				});
			});
			
			$.initAjaxForms();
		});
		
		function changeAction(sender, action) {
			$(sender).parent().children('input[name="widget_action"]').val(action);
		}
		
		function widgetSaved(caller) {
			caller.prepend('<div class="alert alert-success fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><strong>Widget Saved</strong></div>');
			setTimeout(function () {
				caller.children('.alert').alert('close');
			}, 2000);
		}
		
		function widgetError(caller) {
			caller.prepend('<div class="alert alert-danger fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><strong>Error Saving Widget</strong></div>');
			setTimeout(function () {
				caller.children('.alert').alert('close');
			}, 2000);
		}
	</script>
</head>
<body>
	<div class="container">
        @render('menu', model.sid, 'settings', model.user.admin)
		<form action="/settings" data-type="ajax" method="post" class="form-horizontal">
			<input type="hidden" name="sid" value="@model.sid" />
			<div class="row">
				<div class="col-md-12">
					<div class="well">
						<div class="form-group">
							<label for="username" class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="username" name="username" placeholder="Username" value="@model.user.username" />
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="col-sm-2 control-label">Password</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="password" name="password" placeholder="Password" />
							</div>
						</div>
						<div class="form-group">
							<label for="hashmethod" class="col-sm-2 control-label">Hash Method</label>
							<div class="col-sm-10">
								<select class="form-control" id="hashmethod" name="hashmethod">
                                    @for (var c = 0; c < model.hashes.length; c++) {
                                        @{ var hash = model.hashes[c]; }
                                    <!-- TODO: Check here -->
										<option value="@hash.name" @(hash.selected ? "selected='selected'" : "")>@hash.description</option>
									}
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-offset-2 col-sm-10">
									<input type="hidden" name="save_user" value="1" />
									<button type="submit" class="btn btn-primary">Save</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-md-12">
				<div class="well">
					<button class="btn btn-primary" data-toggle="modal" data-target="#assignWidget" href="widget_create.php?sid=@model.sid">
						Assign New Widget
					</button>
				</div>
				<div class="modal fade" id="assignWidget" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel" aria-hidden="true">
				</div>
			</div>
		</div>
		<div class="row">
        @{ var columns = 0; }
        @for (var c = 0; c < model.user.widgets.length; c++) {
            @{
                var user_widget = model.user.widgets[c];
                columns += user_widget.widget.columns;
            }
			@if (columns > 12) {
				@ { columns = user_widget.widget.columns; }
				</div>
				<div class="row">
			}
			<div class="col-md-@user_widget.widget.columns">
				<form action="/settings" method="POST" data-type="ajax" class="form-horizontal" data-success="widgetSaved" data-error="widgetError">
					<input type="hidden" name="sid" value="@model.sid" />
					<input type="hidden" name="widget_id" value="@user_widget.id" />
					<div class="well">
                        @render('userwidget_fields', user_widget)
						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-8 text-right">
								<button type="button" name="visibility" data-widget-id="@user_widget.id" data-val="@user_widget.visible ? 0 : 1" class="btn btn-default">
									@if (user_widget.visible) {
										Hide
									} else {
										Show
									}
								</button>
								<button type="button" name="enable" data-widget-id="{$widget->id}" data-val="@user_widget.enabled ? 0 : 1" class="btn btn-default">
									@if (user_widget.enabled) {
										Disable
									} else {
										Enable
									}
								</button>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-8">
								<input type="hidden" name="widget_action" value="save" />
								<button type="submit" onclick="changeAction(this, 'save');" class="btn btn-primary">Save</button>
								<button type="submit" onclick="changeAction(this, 'delete');" class="btn btn-danger">Delete</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		}
		</div>
	</div>
</body>
</html>
