div.updates_grid
script(type="text/javascript").
	var sourceUpdates =
	{
		datatype: "array",
		localdata: [],
		datafields: [
			{ name: 'name' },
			{ name: 'old_version' },
			{ name: 'new_version' }
		]
	};
	$(document).ready(function () {        
		var dataAdapter = new $.jqx.dataAdapter(sourceUpdates);
		$("##{user_widget.id_html} .updates_grid").jqxGrid({
		showdefaultloadelement: false,
		autoshowloadelement: false,
		width: '100%',
		source: dataAdapter,
		theme: 'bootstrap',
		columnsresize: true,
		pageable: true,
		autoheight: true,
		columns: [
			{ text: 'Package', dataField: 'name' },
			{ text: 'Old Version', dataField: 'old_version' },
			{ text: 'New Version', dataField: 'new_version' }
		]});

		setTimeout(updateUpdatesGrid, 50);
	});

	function callbackUpdateUpdatesGrid(data) {
		sourceUpdates.localdata = data.updates;
		$("##{user_widget.id_html} .updates_grid").jqxGrid('updatebounddata', 'cells');
	}

	function updateUpdatesGrid() {
		$.startUpdatingWidgetJson(socket, #{user_widget.id}, '#{sid}', callbackUpdateUpdatesGrid, null);
	}