extends layout

block script
	script(type="text/javascript").
		var socket;
		$(document).ready(function () {
			socket = $.initSocket(socket, '#{url}', #{port});
			$.initPanelCollapse();
		});

block content
	div.row
		- var columns = 0
		each userWidget in user.widgets
			if userWidget.enabled
				- columns += userWidget.columns
				if columns > 12
					div.clearfix.visible-md
					- columns = userWidget.columns
				div(class='col-md-' + userWidget.widget.columns,style=(userWidget.visible ? 'display: none;' : ''))
					include widget