div.form-group
	label.col-sm-4.control-label(for="widget_id_html")
		| ID HTML
	div.col-sm-8
		input.form-control(type="text",name="widget_id_html",placeholder="ID HTML",value=user_widget.id_html)
div.form-group
	label.col-sm-4.control-label(for="widget_position"
		| Position
	div.col-sm-8
		input.form-control(type="text",name="widget_position",placeholder="Position",value=user_widget.position)