div.modal-dialog
	div.modal-content
		div.modal-header
			button.close(type="button",data-dismiss="modal",aria-hidden="true")
				| &times;
			h4#assignModalLabel.modal-title
				| New Widget
		form.form-horizontal(action="/settings/",data-type="ajax",method="post")
			div.modal-body
				input(type="hidden",name="username",value=username)
				input(type="hidden",name="assign_widget",value="1")
				div.row
					div.col-xs-12
						include userwidget
						div.form-group
							label.col-sm-4.control-label(for="wid")
								| Position
							div.col-sm-8
								input.form-control(type="text",name="wid")
			div.modal-footer
				button.btn.btn-primary(type="submit")
					| Save changes
				button.btn.btn-default(type="button",data-dismiss="modal")
					| Close
script(type="text/javascript").
	$(document).ready(function () {
		$.initAjaxForms();
	});