body > .container
{
	padding-top: 5px;
}

.progress
{
	margin-bottom: 0px;
}

#memory_info .progress, #disks .progress, #process .progress
{
	margin-bottom: 5px;
}

.panel-heading .btn-link
{
	color: #fff;
	padding: 0px 3px;
}
