@!(userWidgets, user, sid)
<!DOCTYPE html>
<html lang="en">
<head>
    @render('html_head', 'System Info Panel')
</head>
<body>
	<div class="visible-xs visible-sm" style="height: 20px;">&nbsp;</div>
	<div class="container">
	    @render('menu', sid, 'home', user.admin)
		@{ var columns = 0; }
		<div class="row">
		@userWidgets.forEach(function (userWidget) {
		    @if (userWidget.enabled) {
		        @{ columns += userWidget.widget.columns; }
		        @if (columns > 12) {
		            @{ columns = userWidget.widget.columns; }
    		        </div>
    		        <div class="row">
		        }
		        @if (!widget->visible) {
		            <div class="col-md-@userWidget.widget.columns" style="display: none;">
		        } else {
		            <div class="col-md-@userWidget.widget.columns">
		        }
		        @render('widget', widget, sid)
		        </div>
		    }
        })
        </div>
	</div>
</body>
</html>
