@!(data, user_widget, sid)
@for (var c = 0; c < data.devices.length; c++) {
    @{ var device = data.devices[c]; }
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4">
                    @device.name
                </div>
                <div class="col-xs-4">
                    BUS @device.bus
                </div>
                <div class="col-xs-4">
                    Device @device.device
                </div>
            </div>
            @if (c < (data.devices.length - 1)) {
            <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>
            </div>
            }
        </div>
    </div>
}
<script type="text/javascript">
	function callbackUSBFunc(data)
    {
        $('#@user_widget.id_html .panel-body').html(data);
    }

    $(document).ready(function () {
        setTimeout(function () {
        $.updateWidgetHtml(@user_widget->id, '@sid', callbackUSBFunc, null);
        }, @user_widget.widget.updatetime);
    });
</script>