@!(model)
@for (var c = 0; c < model.data.devices.length; c++) {
    @{ var device = model.data.devices[c]; }
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4">
                    @device.name
                </div>
                <div class="col-xs-4">
                    BUS @device.bus
                </div>
                <div class="col-xs-4">
                    Device @device.device
                </div>
            </div>
            @if (c < (model.data.devices.length - 1)) {
            <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>
            </div>
            }
        </div>
    </div>
}
<script type="text/javascript">
	function callbackUSBFunc(data)
    {
        $('#@(model.user_widget.id_html) .panel-body').html(data);
    }

    $(document).ready(function () {
        setTimeout(function () {
            $.startUpdatingWidgetJson(socket, @model.user_widget.id, '@model.sid', callbackUSBFunc, null);
        }, @model.user_widget.widget.updatetime);
    });
</script>