div.network_grid
script(type="text/javascript").
	var sourceNetwork =
	{
		datatype: "array",
		localdata: [],
		datafields: [
			{ name: 'name' },
			{ name: 'encap' },
			{ name: 'mac'},
			{ name: 'ip' },
			{ name: 'rx' },
			{ name: 'tx' }
		]
	};
	$(document).ready(function () {        
		var dataAdapter = new $.jqx.dataAdapter(sourceNetwork);
		$("##{user_widget.id_html} .network_grid").jqxGrid(
		{
			showdefaultloadelement: false,
			autoshowloadelement: false,
			width: '100%',
			source: dataAdapter,
			theme: 'bootstrap',
			columnsresize: true,
			pageable: true,
			autoheight: true,
			columns: [
				{ text: 'Name', dataField: 'name', width: 50 },
				{ text: 'Full Name', dataField: 'encap' },
				{ text: 'MAC', dataField: 'mac', width: 120 },
				{ text: 'IP', dataField: 'ip', width: 100 },
				{ text: 'RX', dataField: 'rx', width: 70 },
				{ text: 'TX', dataField: 'tx', width: 70 }
			]
		});

		setTimeout(updateNetworkGrid, 50);
	});

	function callbackUpdateNetworkGrid(data) {
		sourceNetwork.localdata = data.nics;
		$("##{user_widget.id_html} .network_grid").jqxGrid('updatebounddata', 'cells');
	}

	function updateNetworkGrid() {
		$.startUpdatingWidgetJson(socket, #{user_widget.id}, '#{sid}', callbackUpdateNetworkGrid, null);
	}